#root-body .header{
    display: flex;
    border-bottom: 3px solid var(--border);
    padding: 5vh;
    text-align: center;
    justify-content: space-around;
    background-color: var(--header);
    color: var(--text);
}